<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>


<body>
 
    {% include "main/includes/messages.html" %}
    {% include "main/includes/navbar.html" %}
        
    {% block content %}
    {% endblock %}

</body>
    
    
    
<!-- We also need to initialise and import some javascript in order for the sidebar css to function -->
    
<script>M.AutoInit()</script>
    